<p>
  <strong>First Name: </strong>
  <%= @person.first_name %>
</p>
<p>
  <strong>Last Name: </strong>
  <%= @person.last_name %>
</p>
<p>
  <strong>Email: </strong>
  <%= @person.email %>
</p>

<%= link_to 'Back', people_path %>
<%= link_to 'Edit', edit_person_path(@person) %>